* {
  margin: 0;
  padding: 0;
  outline: 0;
}
a,
a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

/* All Common CSS End */
/* Header Part Start */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  /* padding-top: 30px; */
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: all linear 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #00e0d0;
}
.navbar-light .navbar-nav .nav-link.active{
  color: #00e0d0;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 0px 0px 20px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgba(49, 29, 94, 1), rgba(9, 5, 47, 1));
  box-shadow: 0 0px 2px #ffffff;
  -webkit-animation: sticky-menu 500ms ease;
  animation: sticky-menu 500ms ease;
  z-index: 999;
}

@-webkit-keyframes sticky-menu {
  from {
    top: -80;
  }
  to {
    top: 0;
  }
}

@keyframes sticky-menu {
  from {
    top: -80px;
  }
  to {
    top: 0;
  }
}

/* Header Part End */
/* Banner Part Start */
#banner {
  background: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-overly {
  padding-top: 200px;
  padding-bottom: 180px;
  background: rgba(56, 48, 89, 0.8);
}
.banner-txt h3 {
  color: #fff;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  /* padding-bottom: 20px; */
}
.banner-txt {
  position: relative;
}
.banner-txt:after {
  position: absolute;
  height: 2px;
  width: 50px;
  background: #00e0d0;
  content: "";
  top: 60px;
  left: 50%;
  transform: translate(-50%);
}
.banner-txt p {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-top: 45px;
  line-height: 24px;
  padding-bottom: 45px;
}
.banner-txt a {
  color: #00e0d0;
  font-size: 16px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  border: 2px solid#00e0d0;
  padding: 13px;
  display: inline-block;
  border-radius: 4px;
}
/* Banner Part End */
/* Our Service Part Start */
#our {
  padding-top: 60px;
  padding-bottom: 60px;
}
.our-txt h3 {
  color: #413d4b;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.our-txt p {
  color: #413d4b;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 22px;
  padding-top: 20px;
  padding-bottom: 25px;
}
.our-txt a {
  color: #00e0d0;
  font-size: 16px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  border: 2px solid#00e0d0;
  padding: 13px 16px;
  display: inline-block;
  border-radius: 4px;
}
/* Our Service Part End */
/* Video Part Start */
#video {
  background: url(../images/town.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.video-overly {
  padding-top: 150px;
  padding-bottom: 150px;
  background: rgba(43, 35, 78, 0.8);
}
.video-overly i {
  font-size: 80px;
  color: #fff;
}
.video-overly h3 {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-top: 25px;
}
/* Video Part End*/
/* Exercise Part Start */
#exercise {
  padding-top: 60px;
  padding-bottom: 75px;
}
.exe-text h3 {
  color: #413d4b;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.exe-text p {
  color: #413d4b;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  padding-top: 15px;
  margin-bottom: 50px;
}
.exe-text {
  position: relative;
}
.exe-text h3:after {
  position: absolute;
  height: 2px;
  width: 50px;
  background: #c6c4c9;
  content: "";
  top: 75px;
  left: 50%;
  transform: translate(-50%);
}

.ser-item i {
  color: #3abdd0;
  font-size: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.ser-item h3 {
  color: #413d4b;
  font-size: 14px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.ser-item p {
  color: #333333;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0px 58px;
}

/* Exercise Part End */
/* Meet Our Part Start */
#meet {
  background: url(../images/tree.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.meet-overly {
  padding-top: 60px;
  padding-bottom: 60px;
  background: rgba(45, 30, 88, 0.849);
}
.meet-text h3 {
  color: #fff;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  padding-bottom: 5px;
}
.meet-text p {
  color: #fff;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-bottom: 60px;
}
.meet-text {
  position: relative;
}
.meet-text p:after {
  position: absolute;
  height: 2px;
  width: 50px;
  background: #655c80;
  content: "";
  top: 75px;
  left: 50%;
  transform: translate(-50%);
}
.meet-item h3 {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 5px;
}
.meet-item p {
  color: #fafafa;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #77768a;
  padding-bottom: 20px;
}
.beo-txt p {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 25px;
}
.beo-txt a {
  color: #00e0d0;
  font-size: 16px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  border: 2px solid#00e0d0;
  padding: 13px 16px;
  display: inline-block;
  border-radius: 4px;
}
/* Meet Our Part End */
/* Our Work Part Start */
#our {
  padding-top: 70px;
  padding-bottom: 70px;
}
.our h3 {
  color: #413d4b;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  padding-bottom: 10px;
}
.our p {
  color: #2f2d35;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.our {
  position: relative;
}
.our h3:after {
  position: absolute;
  height: 2px;
  width: 50px;
  background: #c6c4c9;
  content: "";
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}
.our-btn button {
  background: none;
  padding: 10px 20px;
  border: 1px solid#dddddd;
  color: #413d4b;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 25px 5px;
  transition: all linear.3s;
  margin-bottom: 40px;
}
.our-btn button:hover {
  color: white;
  background: black;
}
.we a {
  color: #00e0d0;
  font-size: 16px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  border: 2px solid#00e0d0;
  padding: 13px 16px;
  display: inline-block;
  border-radius: 4px;
  margin-top: 60px;
}
/* Our Work Part End */
/* Tree2 Part Strat */
#tree {
  background: url(../images/tree2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tree-overly {
  padding-top: 100px;
  padding-bottom: 60px;
  background: rgba(42, 27, 78, 0.8);
}
.tre-txt h1 {
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.tre-txt h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  line-height: 26px;
}
.tre-txt p {
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  padding-top: 30px;
  padding-bottom: 5px;
}
.tre-txt h2 {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
/* Tree2 Part End */
/* From Part Strat */
#from {
  padding-top: 70px;
  padding-bottom: 60px;
}
.from-text h1 {
  color: #413d4b;
  font-size: 22px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  padding-bottom: 25px;
}
.n {
  padding: 10px 300px 10px 10px;
  border: 1px solid#e5e5e5;
  color: #413d4b;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.r {
  padding: 10px 300px 10px 10px;
  border: 1px solid#e5e5e5;
  color: #413d4b;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.l {
  padding: 10px 300px 10px 10px;
  border: 1px solid#e5e5e5;
  color: #413d4b;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.s {
  padding: 10px 285px 60px 10px;
  border: 1px solid#e5e5e5;
  color: #413d4b;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.from-text a {
  color: #00e0d0;
  font-size: 16px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  border: 2px solid#00e0d0;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 4px;
}
.puma-txt h3 {
  color: #413d4b;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  padding-bottom: 20px;
}
/* Footer Part Start */
#footer {
  background: url(../images/aa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.footer-overly {
  padding-top: 70px;
  padding-bottom: 70px;
  background: rgba(45, 38, 75, 0.8);
}
.footer-item p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
  padding-bottom: 40px;
}
.footer-item h1 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.mll {
  display: flex;
}
/* .footer-item h1 {
 
} */
.foter-item h3 {
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding-bottom: 25px;
}
.foter-item p {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 25px;
}
.foter-item i {
  margin-right: 10px;
  color: #fff;
}
.foter-item h1 {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.foter-item span {
  padding: 0px 20px;
}
.ft-item h3 {
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding-bottom: 25px;
}
.ft-item input {
  padding: 18px 25px 18px 18px;
  border: 1px solid#9c95ae;
  color: #9c95ae;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: none;
}

.fa-location-arrow {
  margin-left: 10px;
  padding: 20px 26px;
  background: #9c95ae;
  color: black;
  display: inline-block;
  line-height: 45px;
  text-align: center;
  font-style: 30px;
}
.font i {
  color: #fff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid#fff;
  line-height: 40px;
  text-align: center;
  margin-top: 25px;
  margin-left: 10px;
}
.t h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 30px;
}
/* Footer Part End */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

/*      font-family: 'Roboto', sans-serif;         */
/*      font-family: 'Playfair Display', serif;         */
/*      font-family: 'Hammersmith One', sans-serif;         */
